<%- include('../layouts/header.ejs') %>


		<!--end top header wrapper--
		<!--start page wrapper -->
		<div class="page-wrapper">
			<div class="page-content">
				<!--start breadcrumb-->
				<section class="py-3 border-bottom border-top d-none d-md-flex bg-light">
					<div class="container">
						<div class="page-breadcrumb d-flex align-items-center">
							<h3 class="breadcrumb-title pe-3">Sign in</h3>
							<div class="ms-auto">
								<nav aria-label="breadcrumb">
									<ol class="breadcrumb mb-0 p-0">
										<li class="breadcrumb-item"><a href="javascript:;"><i class="bx bx-home-alt"></i> Home</a>
										</li>
										<li class="breadcrumb-item"><a href="javascript:;">Authentication</a>
										</li>
										<li class="breadcrumb-item active" aria-current="page">Sign In</li>
									</ol>
								</nav>
							</div>
						</div>
					</div>
				</section>
				<!--end breadcrumb-->
				<!--start shop cart-->
				<section class="">
					<div class="container">
						<div class="section-authentication-signin d-flex align-items-center justify-content-center my-5">
							<div class="row row-cols-1 row-cols-xl-2">
								<div class="col mx-auto">
									<div class="card">
										<div class="card-body">
											
											<div class="border p-4 rounded">
												<div class="text-center">
													<h3 class="">Sign in</h3>
													<p>Don't have an account yet? <a href="authentication-register.html">Sign up here</a>
													</p>
													<p>Welcome! Please login to continue.</p>
													<p style="color: red; font-size: medium; font-family: Arial, sans-serif;"><%=message%></p>
												</div>
												<!-- <div class="d-grid">
													<a class="btn my-4 shadow-sm btn-white" href="javascript:;"> <span class="d-flex justify-content-center align-items-center">
														<img class="me-2" src="/images/icons/search.svg" width="16" alt="Image Description">
														<span>Sign in with Google</span>
														</span>
													</a> <a href="javascript:;" class="btn btn-white"><i class="bx bxl-facebook"></i>Sign in with Facebook</a>
												</div> -->
												<!-- <div class="login-separater text-center mb-4"> <span>OR SIGN IN WITH EMAIL</span> -->
													<hr/>
												</div>
												
												<div class="form-body">
													<form class="row g-3" action="/login" method="post">
														<div class="col-12">
															<label for="inputEmailAddress" class="form-label">Email Address</label>
															<input type="email" name="email" class="form-control" id="inputEmailAddress" placeholder="Email Address">
														</div>
														<div class="col-12">
															<label for="inputChoosePassword" class="form-label">Enter Password</label>
															<div class="input-group" id="show_hide_password">
																<input type="password" name="password" class="form-control border-end-0" id="inputChoosePassword" value="" placeholder="Enter Password"> <a href="javascript:;" class="input-group-text bg-transparent"><i class='bx bx-hide'></i></a>
															</div>
														</div>
														<div class="col-md-6">
															<div class="form-check form-switch">
																<input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
																<label class="form-check-label" for="flexSwitchCheckChecked">Remember Me</label>
															</div>
														</div>
														<div class="col-md-6 text-end">	<a href="/forgot-page">Forgot Password ?</a>
														</div>
														<div class="col-12">
															<div class="d-grid">
																<!-- Add the class .second to the button -->
																<button type="submit" class="btn btn-dark second"><i class="bx bxs-lock-open"></i>Sign in</button>
															</div>
															
														</div>
														
													</form>
													
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!--end row-->
						</div>
					</div>
				</section>
				<!--end shop cart-->
			</div>
		</div>
		<!--end page wrapper -->
		<!--start footer section-->
		
		<script>
			fetch('/change-pass', {
			method: 'POST',
			body: formData
		})
		.then(response => response.json())
		.then(data => {
			if (data.error) {
				alert(data.error);
			} else if (data.success) {
				alert(data.message);
				// Redirect or perform additional actions if needed
			}
		})
		.catch(error => {
			console.error('Error:', error);
		});

		</script>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
		
		<!-- logout sweet alert -->
		<script>
			// Check if the query parameter indicates successful logout
			const urlParams = new URLSearchParams(window.location.search);
			const logoutSuccess = urlParams.get('logoutSuccess');
		
			if (logoutSuccess === 'true') {
				// Fire the Toast for successful logout
				const Toast = Swal.mixin({
					toast: true,
					position: "top",
					showConfirmButton: false,
					timer: 3000,
					timerProgressBar: true,
					didOpen: (toast) => {
						toast.onmouseenter = Swal.stopTimer;
						toast.onmouseleave = Swal.resumeTimer;
					}
				});
		
				Toast.fire({
					icon: "success",
					title: "Logged out successfully"
				});
		
				// Remove the query parameter from the URL
				const newUrl = window.location.href.split('?')[0];
				history.replaceState(null, null, newUrl);
			}
		</script>
		
		
		<%- include('../layouts/footer.ejs') %>