
<%- include('../layouts/header.ejs') %>
<section class="">
    <div class="container">
        <div class="authentication-forgot d-flex align-items-center justify-content-center my-5">
            <div class="card forgot-box">
                <div class="card-body">
                    <div class="p-4 rounded  border">
                        <div class="text-center">
                            <img src="assets/images/icons/forgot-2.png" width="120" alt="" />
                        </div>
                        <h4 class="mt-5 font-weight-bold">Reset Password</h4>
                        <p class="">Enter your new password and confirm it below</p>

                        <!-- Form Start -->
                        <form id="reset-password-form" action="/reset-password" method="post">
                            <div class="my-4">
                                <label class="form-label">New Password</label>
                                <input type="password" class="form-control form-control-lg" name="newPassword" placeholder="Enter your new password" />
                            </div>
                            <div class="my-4">
                                <label class="form-label">Confirm Password</label>
                                <input type="password" class="form-control form-control-lg" name="confirmPassword" placeholder="Confirm your new password" />
                            </div>
                            <div class="d-grid gap-2">
                                <button type="submit" class="btn btn-dark btn-lg">Reset Password</button>
                                <a href="/login" class="btn btn-light btn-lg"><i class='bx bx-arrow-back me-1'></i>Back to Login</a>
                            </div>
                        </form>
                        
                        <!-- Form End -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Include SweetAlert library -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const form = document.querySelector('form[action="/reset-password"]');
        form.addEventListener('submit', function (event) {
            const newPasswordInput = document.querySelector('input[name="newPassword"]');
            const confirmPasswordInput = document.querySelector('input[name="confirmPassword"]');
            const newPasswordValue = newPasswordInput.value;
            const confirmPasswordValue = confirmPasswordInput.value;

            // Validate password length and pattern
            const passwordRegex = /^(?=.*[a-zA-Z].*[a-zA-Z])(?=.*\d).{6,}$/;
            if (!passwordRegex.test(newPasswordValue)) {
                alert('Password must be at least 6 characters long and contain at least 2 letters and  numbers.');
                event.preventDefault(); // Prevent form submission
                return;
            }

            // Validate password match
            if (newPasswordValue !== confirmPasswordValue) {
                alert('Passwords do not match.');
                event.preventDefault(); // Prevent form submission
                return;
            }
        });
    });
</script>

<%- include('../layouts/footer.ejs') %>